img {
    float: left;
    width: 10%;
    border-radius: 110px;
    border-style: solid;
    margin-right: 25px;
    margin-top: 10px;
    border-width: thin;
    padding: 20px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

.name {
    text-transform: uppercase;
    font-size: 40px;
}

.box{
    border-bottom: 1px solid;
    margin-left: 15%;
}