.input__tag {
    width: 35%; 
    border-style: hidden hidden solid hidden;
    margin-bottom: 30px;
  }

.inputs{
    width: 100%;
    height: 40px;
    border-style: hidden hidden solid hidden;
}

img{
    width: 60%;
    margin-right: 5%;
    border-radius: 140px;
}

div {
    margin-bottom: 20px;
}

#info {
    display: grid;
    grid: 
    [header-start] "empty header buttonSym" 100px
    [content-start] "img info empty2" 280px
    /[img] 200px [info] 1fr [empty2] 300px;
}

#pic {
    grid-area: img;
}

#name {
    grid-area: header;
}

#infoStud {
    grid-area: info;
    border-bottom: solid;
    width: 100%;
}

#more {
    grid-area: buttonSym;
}

#grades {
    list-style-type: none;
    margin-top: 40px;
    padding-left: 0%;
}

#buttonSym {
    border: none;
    background-color: #fff;
    font-size: 3em;
    color: darkgrey;
}
  
  .tag {
      background-color: #d3d3d3;
      display: inline-block;
      width: fit-content;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      transition-duration: .3s;
      margin-right: auto;
  
  }
  
  .tag:hover {
      background-color: #101010;
      color: #fff;
      animation: wiggle 120ms infinite;
      animation-timing-function: linear;
  }
  
  .tag:hover .tagDelete {
      visibility: visible;
  }
  
  .tagDelete {
      visibility: hidden;
      position: relative;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 900;
      float: right;
      top: -0.6em;
      left: 0.3em;
      color: #f52a01;
  }
  
  @keyframes wiggle {
      0% {
          transform: translate(1px, 0);
      }
      50% {
          transform: translate(-1px, 0);
      }
      100% {
          transform: translate(1px, 0);
      }
  }
  
  .tagSubmit {
      visibility: hidden;
  }